[submodule "DEIMv2"]
	path = DEIMv2
	url = https://github.com/Intellindust-AI-Lab/DEIMv2.git
[submodule "models/yolov5"]
	path = models/yolov5
	url = https://github.com/ultralytics/yolov5.git
[submodule "RT-DETRv4"]
	path = RT-DETRv4
	url = https://github.com/RT-DETRs/RT-DETRv4.git
